.banner {
  display: flex; /* Activa Flexbox */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  justify-content: space-between;/* Distribuye los elementos horizontalmente*/
  /* padding: 10px 20px; Espaciado interno */
}
/* Línea animada que cambia de colores */
.color-line {
  width: 100%;
  height: 7px;
  background: linear-gradient(45deg, #ff6b6b, #feca57, #1dd1a1, #5f27cd);
  background-size: 300% 300%;
  animation: gradient-animation 3s ease infinite;
  border-radius: 0;
  margin-bottom: 20px;
}

/* Animación del gradiente */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}